{% assign colab = include.colab %}
{% if include.nav.fixed != null or include.nav.brand != null or site.data.index.nav.fixed != null or site.data.index.nav.brand != null %}
{% assign links = include.nav.content | default: site.data.index.nav.content %}
{% else %}
{% assign links = include.nav.content | default: site.data.index.nav.content | default: site.data.index.nav %}
{% endif %}
<nav class="px-2 navbar navbar-expand-lg navbar-dark m-0 p-2 sticky-top shadow bg-primary">
    {% if site.data.index.nav.brand %}
    {% include link.html link=site.data.index.nav.brand class="btn navbar-brand" %}
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div
            class="p-0 m-0 navbar-collapse collapse"
            id="navbarSupportedContent"
    >
        <ul class="navbar-nav me-auto my-1 p-0">
            {% assign page_url = page.url | prepend: site.baseurl %}
            {% for link in links %}
            <li class="nav-item">
                {% assign cur_url = link.link | remove: "index.html" %}
                {% if page_url == link.link or page_url == cur_url %}
                {% include link.html link=link class="btn nav-link active" %}
                {% else %}
                {% include link.html link=link class="btn nav-link" %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>