{% macro people_section(people_data, title, id) %}
<div
        {% if id %}
        id="{{ id }}"
        class="scrollable-section"
        {% endif %}
>

  <div class="text-primary font-bold mb-4 text-2xl">{{ title }}</div>
  <div class="mb-5"></div>
  {% for role in people_data %}
  <div class="text-primary font-bold mb-4 text-lg">{{ role.display_name }}</div>
  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
    {% for person in role.people %}
    <div class="bg-white rounded-lg overflow-hidden text-center p-2">
      <a href="{{ person.website }}" target="_blank" class="bg-white rounded-lg overflow-hidden text-center">
        <img src="{{ person.pic }}" alt="{{ person.name }}" class="w-full h-auto rounded-full">

        <div class="p-2">
          <h2 class="text-md font-semibold">{{ person.name }}</h2>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% if not loop.last %}<div class="mb-3"></div>{% endif %}
  {% endfor %}

</div>
{% endmacro %}
