{% macro create_subsection(subsection) %}
  <div class="mb-2">
    <div class="text-xl font-bold mb-2">{{ subsection.title }}</div>
    {% if subsection.text %}
      <div class="prose w-full max-w-full text-justify">{{ markdown(subsection.text) }}</div>
    {% endif %}
  </div>
{% endmacro %}

{% macro create_section(section) %}
  <div
      {% if section.id %}
      id="{{ section.id }}"
      class="scrollable-section"
      {% endif %}
  >
    <div class="text-primary text-2xl font-bold mb-2">{{ section.title }}</div>
    {% if section.text %}
      <div class="prose w-full max-w-full text-justify">{{ markdown(section.text) }}</div>
    {% endif %}
    {% for subsection in section.subsections %}
      {{ create_subsection(subsection) }}
    {% endfor %}
  </div>
{% endmacro %}
