{% assign index = page.index | default: "index" %}
{% assign index = site.data[index] %}
<html>

<head>
    <title>{{ index.title | default: "Index" }}</title>
    {% include head.html %}
    {% include meta.html meta=index.meta %}
</head>

<body>
<div class="app-content">
    {% include header.html header=index.header %}
    {% include nav.html %}

    <div id="app-body"
         class="app-body
         bg-white justify-content-center align-items-center d-flex min-w-75 container">
        {% include toc.html index=index level=1%}
    </div>
</div>
</body>

</html>